*{
font-family: Arial, Helvetica, sans-serif;
background-color: lightgrey;
}

.cookie-img{
height: 300px;
width: auto;
flex: auto;
float: left;
margin-right: 30px;
}

.yap{
font-size: 20px;
}

.ing {
padding-top: 150px;




}